<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghs.server.mapper.AdminTallyMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ghs.server.pojo.AdminTally">
        <id column="id" property="id" />
        <result column="adminId" property="adminId" />
        <result column="tid" property="tid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adminId, tid
    </sql>

    <insert id="addAdminTally" parameterType="AdminTally" useGeneratedKeys="true" keyProperty="id">
        insert into s_admin_tally(adminId, tid) values(#{adminId}, #{tid})
    </insert>

    <delete id="delAdminTallyByTid" >
        DELETE FROM s_admin_tally WHERE tid=#{tid}
    </delete>
</mapper>
