<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ghs.server.mapper.AdminCourseMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ghs.server.pojo.AdminCourse">
        <id column="id" property="id" />
        <result column="adminId" property="adminId" />
        <result column="cid" property="cid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, adminId, cid
    </sql>

    <insert id="addAdminCourse" parameterType="AdminCourse" useGeneratedKeys="true" keyProperty="id">
        insert into s_admin_course(adminId, cid) values(#{adminId}, #{cid})
    </insert>

    <delete id="delAdminCourseByCid" >
        DELETE FROM s_admin_course WHERE cid=#{cid}
    </delete>
</mapper>
